:root {
  --main-color: #3a3b88;
  --secondary-color: #0a0844;
  --accent-color: #4b285e;
  --contrast-color: #f2f1f9;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--main-color);
  color: var(--contrast-color);
}

.bg-brand {
  background-color: var(--secondary-color);
}
 


:target {
  scroll-margin-top: 80px;
}

@media (max-width: 768px) {
  :target {
    scroll-margin-top: 210px;
  }
}

/* Header*/

#header {
  background-color: var(--accent-color);
  background-image: url("/assets/img/bg-technology.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Portafolio */

#portafolio {
  background-color: var(--accent-color);
}

#portafolio .image-top {
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#portafolio .card {
  color: #373a3c;
  border-color: #707070;
}


/* Contacto */

#contacto form label {
  font-weight: 700;
}

@media (max-width: 768px) {
  #contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
